astroid==2.3.3
beautifulsoup4==4.8.2
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==3.3.2
google-play-scraper==0.0.2.0
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.6.3
mccabe==0.6.1
numpy==1.18.1
pandas==1.0.1
play-scraper==0.6.0
pycparser==2.19
pylint==2.4.4
pyOpenSSL==19.1.0
pyspark==2.4.4
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
requests-futures==1.0.0
six==1.14.0
soupsieve==1.9.5
typed-ast==1.4.1
urllib3==1.25.8
wrapt==1.11.2
